.numberCircle {
  border-radius: 50%;
  width: 50px;
  height: 20px;
  padding: 8px;
  margin-left: 2px;
  margin-right: 2px;
  background: #fff;
  border: 2px solid #666;
  color: #666;
  text-align: center;
}
.curpoint{
  cursor: pointer;
}
.star {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  color: black;
}
.video-fluid {
  width: 100%;
  height: auto;
}
.example-chip-list {
  width: 100%;
}