
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Trainers List</h4>
                        <button type="button" class="btn btn-default pull-right" (click)="openCreate()">ADD</button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Trainer Name
                                    </th>
                                    <th>
                                        Experience
                                    </th>
                                    <th>
                                        Skill Set
                                    </th>
                                    <th>
                                        Contact Number
                                    </th>
                                    <th>
                                        Email Id
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            Trainer 1
                                        </td>
                                        <td>
                                          6yrs
                                        </td>
                                        <td>
                                         c#,.Net,Angular 2+
                                        </td>
                                        <td >
                                          9908989898
                                      </td>
                                      <td>
                                        corpoeart@trainer.com
                                    </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Trainer 2
                                        </td>
                                        <td>
                                          6yrs
                                        </td>
                                        <td>
                                         c#,.Net,Angular 2+,Nodejs
                                        </td>
                                        <td >
                                          9908989898
                                      </td>
                                      <td>
                                        corpoeart@trainer.com
                                    </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
  