<h3>Add Corporate</h3>
<form [formGroup]="formGroup">
  <mat-horizontal-stepper labelPosition="bottom" formArrayName="formArray" linear>
    <mat-step formGroupName="0" [stepControl]="formArray?.get([0])">
      <ng-template matStepLabel>Corporate Details</ng-template>
      <mat-form-field>
        <mat-label>Corporate Name</mat-label>
        <input matInput formControlName="corporatenameFormCtrl" required>
        <mat-error>This field is required</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Corporate Id</mat-label>
        <input matInput formControlName="corporateidFormCtrl" required>
        <mat-error>This field is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput formControlName="addressFormCtrl" required>
        <mat-error>This field is required</mat-error>
      </mat-form-field>
      
      <div>
        <button mat-raised-button matStepperNext>Next</button>
      </div>
    </mat-step>

    <mat-step formGroupName="1" [stepControl]="formArray?.get([1])">
      <ng-template matStepLabel>
        <div>Training details</div>
      </ng-template>
      <mat-form-field>
        <mat-label>Trainers Required</mat-label>
        <input matInput formControlName="trainersreqFormCtrl" required>
        <mat-error>This field is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Number Of Students</mat-label>
        <input matInput formControlName="nostudentsFormCtrl" required>
        <mat-error>This field is required</mat-error>
      </mat-form-field>
      <div>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button matStepperNext>Next</button>
      </div>
    </mat-step>

    <mat-step formGroupName="2" [stepControl]="formArray?.get([2])">
      <ng-template matStepLabel>Contact Details</ng-template>
          <mat-form-field>
        <mat-label>Contact Number</mat-label>
        <input matInput formControlName="contactFormCtrl">
        <mat-error>This field is required</mat-error>
      </mat-form-field>
      <mat-form-field>
            <mat-label>Contact Person</mat-label>
            <input matInput formControlName="personFormCtrl">
            <mat-error>This field is required</mat-error>
          </mat-form-field>
      <mat-form-field>
        <mat-label>Email Id</mat-label>
        <input matInput formControlName="emailFormCtrl">
        <mat-error>The input is invalid.</mat-error>
      </mat-form-field>
      
      <div>
        <button type="button" mat-raised-button (click)="formsubmit()">Submit</button>
        <!-- <button type="button" mat-raised-button (click)="linearVerticalStepper.reset()">Reset</button> -->
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</form>

