<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Corporates List</h4>
                      <button type="button" class="btn btn-default pull-right" (click)="openCreate()">ADD</button>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                    Corporate Name
                                  </th>
                                  <th>
                                    Corporate Id
                                  </th>
                                  <th>
                                    Address
                                  </th>
                                  <th>
                                    Trainers Required
                                  </th>
                                  <th>
                                    Number of Students
                                  </th>
                                  <th>
                                    Contact Number
                                  </th>
                                  <th>
                                    Email Id
                                  </th>
                                  <th>
                                    Contact Person
                                  </th>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>
                                          Corporate 1
                                      </td>
                                      <td>
                                          CR1098
                                      </td>
                                      <td>
                                       #101 R R Nagar,Bangalore
                                      </td>
                                      <td>
                                         2
                                      </td>
                                      <td>
                                          10
                                      </td>
                                      <td >
                                        080-48494847
                                    </td>
                                    <td>
                                      corpoeart@corporate.in
                                  </td>
                                  <td>
                                    Mr.Harsha
                                </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      Corporate 2
                                  </td>
                                  <td>
                                      CR1098
                                  </td>
                                  <td>
                                   #53 Vidyaranyapura,Bangalore
                                  </td>
                                  <td>
                                     2
                                  </td>
                                  <td>
                                      10
                                  </td>
                                  <td >
                                    080-48494847
                                </td>
                                <td >
                                  corpoeart@corporate.in
                              </td>
                              <td >
                                Ms.Geetha
                            </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      </div>
      </div>
